{% extends "index_base.html" %}

{% block content %}
<div class="container">

        <h1>{{param1}}</h1>
        

</div>

<div class="container">
    <h1>洲立影藝有限公司<h1>
    <h2>從1982至今</h2>
    <h3>39年經驗</h3>
    <p><h4>洲立影藝有限公司成立於1982年，一直致力為影迷提供最佳的觀影享受。洲立影藝現正管理12間新穎影院，共67個影廳，分佈於港九及新界，鄰近港鐵站，地段優越，交通便利。其中包括位於九龍塘港鐵站上蓋的FESTIVAL GRAND CINEMA、九龍灣的MCL德福戲院、長沙灣的MCL長沙灣戲院及尖沙咀的K11 Art House。於港島區計有銅鑼灣的皇室戲院、鴨脷洲的MCL海怡戲院、太古的康怡戲院及位於數碼港的MCL數碼港戲院。而新界區則包括座落於沙田新城市廣場的MOVIE TOWN、逸峯廣場的MCL粉嶺戲院及將軍澳的MCL新都城戲院和STAR CINEMA。</h4></p>
</div>


<div class="container">
    <h2>MCL 戲院<h2>
        
    
    <div class="col-md-6">
        <h3>K11 ART HOUSE</h3>
    <h4>香港丨尖沙咀<br>
K11 ART HOUSE位於K11 MUSEA 4樓，設 12 個影院共1,708個座位，整間戲院以瑞士山屋大宅作設計主題，用上復古石磚牆，再配以古堡燭台燈飾，極具歐陸味道。其中最具特色為全港首間的IMAX Laser影院，投影為Barco專為IMAX影院而訂製的獨有4K RGB數碼投影機種，配上12聲道Immersive環繞聲系統，讓觀眾可以享受前所未有的聲畫效果。另外更設有多功能影院「White Box」及VIP影院「Black Box」，前者設有表演舞台設備，包括摺合式活動舞台、舞台電腦燈光及音控系統，適合作放映座談會、商務演講以至藝術表演場地等；後者則設有豪華梳化座位、獨立洗手間及休息區，提供6星級的專貴體驗。
</h4>
</div>
    <div class="col-md-6">
    <h3>設備</h3>
    <h4>1院 – 76 座位
    <br>2院 – 103 座位
    <br>3院 – 103 座位
    <br>White Box/4院 – 117 座位
    <br>5院 – 151 座位
    <br>6院 – 164 座位
    <br>7院 – 91 座位
    <br>8院 – 166 座位
    <br>9院 – 173 座位
    <br>10院 – 166 座位
    <br>Black Box/11院 – 30 座位
    <br>IMAX/12院 – 368 座位</h4>
    <h3>地址</h3>
    <h4>九龍尖沙咀梳士巴利道18號 Victoria Dockside K11 MUSEA L4 樓層</h4>
    <h3>電話</h3>
    <h4>3703 4623</h4>
    </div>
    
    <div class="col-md-6">
        <h3>FESTIVAL GRAND CINEMA</h3>
    <h4>香港丨九龍塘<br>
FESTIVAL GRAND CINEMA座落於九龍塘又一城，全院樓高三層，共有7間影廳及1個貴賓影院，座位數目達1,196個，是MCL院線的旗艦戲院。Festival Grand Cinema採用「AVANT-GARDE美學」概念設計，新穎時尚，個性獨特，以金色為主題，配襯天然雲石，突顯高貴氣派，令人耳目一新，加上4K高清數碼投影機等高端的影音設備，令觀眾享受到既尊貴又舒適的觀影體驗。FESTIVAL GRAND CINEMA更提供一系列的特色小食，如芝士撻，松露蘑菇湯，朱古力果仁脆片，餐酒及啤酒等，為觀眾提供爆谷汽水以外的更多選擇。
</h4>
</div>
    <div class="col-md-6">
    <h3>設備</h3>
    <h4>BEA House 1 – 341 座位
    <br>2院 - 133座位
    <br>3院 – 112 座位
    <br>4院 - 163座位
    <br>5院 - 135座位
    <br>6院 - 166座位
    <br>7院 - 128座位
    <br>BEA Festival Suite – 18 座位</h4>
    <h3>地址</h3>
    <h4>九龍九龍塘達之路80號又一城UG層</h4>
    <h3>電話</h3>
    <h4>2237 1992</h4>
    </div>
    
    <div class="col-md-6">
        <h3>皇室戲院</h3>
    <h4>香港丨銅鑼灣<br>
座落於銅鑼灣皇室堡的皇室戲院共有3間影廳，246個座位，毗鄰銅鑼灣港鐵站，連接城中購物熱點，交通便利。皇室戲院採用精品戲院式的時尚設計，格調優雅，大堂設有超高清LED巨幕，而影廳則配備全真皮座位及最專業先進的影音設備，是觀眾在銅鑼灣鬧市中可悠閒地觀賞電影的最佳去處。
</h4>
</div>
    <div class="col-md-6">
    <h3>設備</h3>
    <h4>1院 - 78座位
    <br>2院 - 78座位
    <br>3院 – 78座位</h4>
    <h3>地址</h3>
    <h4>香港銅鑼灣告士打道311 號皇室堡4樓</h4>
    <h3>電話</h3>
    <h4>2129 0148</h4>
    </div>
    
</div>

<div class="container">
    <h1>MCL 電影節節目</h1>
    <h5>MCL院線一向致力推動電影業，讓觀眾能夠接觸更多不同文化及藝術，於近年來舉辦多個電影節，包括、『韓國電影館』、『STAR Academy』、『吉卜力工作室電影展』、『第12屆西班牙電影節』、『搵細囈』，務求滿足廣大影迷的各種喜好。</h5>
    <div class="col-md-2">
    <a><img src="{{url_for('static',filename='img/Hall of Korean Film.2017.jpg')}}" class="img-responsive" width="120" height="50" style="border-style:solid;border-width:1px"></img></a>
    <h4>韓國電影館</h4>
    </div>
    <div class="col-md-2">
    <a><img src="{{url_for('static',filename='img/STAR Academy.2017.jpg')}}" class="img-responsive" width="120" height="50" style="border-style:solid;border-width:1px"></img></a>
    <h4>STAR Academy</h4>
    </div>
    <div class="col-md-2">
    <a><img src="{{url_for('static',filename='img/festival3.jpg')}}" class="img-responsive" width="120" height="50" style="border-style:solid;border-width:1px"></img></a>
    <h4>吉卜力工作室電影展</h4>
    </div>
    <div class="col-md-2">
    <a><img src="{{url_for('static',filename='img/Spanish Film Festival.2017.jpg')}}" class="img-responsive" width="120" height="50" style="border-style:solid;border-width:1px"></img></a>
    <h4>西班牙電影節</h4>
    </div>
    <div class="col-md-2">
    <a><img src="{{url_for('static',filename='img/HeaTitude2017.png')}}" class="img-responsive" width="120" height="50" style="border-style:solid;border-width:1px"></img></a>
    <h4>搵細囈</h4>
    </div>
</div>
 
<div class="container">
    <h1>MCL 電影節節目</h1>
    <h5>MCL一向領先潮流，務求給予香港觀眾前所未有的觀影樂趣。除了在電影放映上勇於嘗試外，MCL亦率先為本地觀眾引入不同的另類節目，帶來了超過130場不同的直播盛事，包括有《福山☆冬之大感謝祭 其之十六現場直播》、《L’ARC~EN~CIEL 25週年演唱會直播》、《B.A.P Live on Earth 2016 世界巡迴演唱會直播》、《第5屆 GAON Chart K-Pop大獎2015》、 《Yoshiki Classical Special現場直播》及《2019 Wanna One Concert [Therefore]》。 除流行音樂節目直播之外，MCL亦直播多齣日本音樂劇及動漫節目，致力推動MCL成為日本動漫中心，精彩節目包括《音樂劇「美少女戰士」》、《寶塚歌劇劇場公演》系列、《 NARUTO火影忍者》系列、多媒體學園偶像計劃《Love Live!》系列、《音樂劇「網球王子」》系列及跨媒體次世代女子樂團「BanG Dream!」系列等。這些直播及轉播的節目都得到廣大觀眾的支持和擁戴。</h5>
</div>
 
  
 
  






















{% endblock %}