{% extends "index_base.html" %}

{% block content %}
<div class="container">
    <h3><font color="#000087">招募精英</font></h3>
    <h4>1. 戲院經理 / 戲院副經理
    <br><br>職位要求：
<br>-大學畢業程度及在零售或服務行業2年以上經驗
<br>-積極上進、以客為先、充滿活力
<br>-良好的中文英文說話及書寫能力
<br>-具有基本電腦操作知識（懂Microsoft Office及中文打字）
<br>-勤奮好學及需輪班工作
<br>
<br>職責：
<br>戲院日常運作及設備管理、員工的招聘、值勤安排，領導培訓及薪酬管理，編排電影放映場次，處理客戶投訴和查詢等。
<br>
<br>有意者請將履歷及要求待遇郵寄至：新界葵涌大連排道200號偉倫中心第二期27樓前座 或 傳真至24816377 或電郵至：recruit3.mcl@intercontinental.com.hk（人力資源部收）。
<br><br><br>
2. 戲院放映員
<br><br>-F.5或以上學歷
<br>-1年以上的工作經驗
<br>-具有基本電腦操作知識
<br>-需輪班工作
<br>
<br>有意者請將履歷及要求待遇郵寄至：新界葵涌大連排道200號偉倫中心第二期27樓前座 或 傳真至24816377 或電郵至：recruit3.mcl@intercontinental.com.hk（人力資源部收）。
<br><br><br>
3. 全職 / 兼職戲院員工
<br><br>-F.5或以上學歷
<br>-有責任感、誠實、勤奮好學
<br>-負責戲院各項日常運作崗位
<br>-需輪班工作
<br>
<br>有意者請將履歷及要求待遇郵寄至：新界葵涌大連排道200號偉倫中心第二期27樓前座 或 傳真至24816377 或電郵至：recruit3.mcl@intercontinental.com.hk（人力資源部收）。
<br>
<br>工作地點：港九新界
</div>
{% endblock %}