{% extends "index_base.html" %}

{% block content %}
<div class="container">
    <div>
        <h1 style="color:#016790">聯絡我們</h1>
        <h3 style="color:#016790">洲立影藝有限公司</h3>
        <h5>洲立影藝有限公司(Multiplex Cinema Limited)為一間於香港註冊之有限公司，聯繫方式如下：</h5>
    </div>
    <div class="col-md-6">
        <P>地址</P>
        <P>新界葵涌大連排道200號偉倫中心第二期27樓前座</P>
        <P>星期一至五 9am-12:30pm 及 1:30pm-6pm</P>
        <P>(公眾假期除外)</P>
    </div>
    <div class="col-md-6">
        <P>客戶服務熱線</P>
        <P>2418 8841</P>
        <P>電郵</P>
        <P>contact_mcl@intercontinental.com.hk</P>
    </div>
</div>

<div class="container" style="padding-top:20px">
    <div>
        <P style="color:#016790">K11 ART HOUSE (尖東站)</P>
    </div>
    <div class="col-md-1">
        <P>地址:</P>
        <P>電話:</P>
    </div>
    <div class="col-md-11">
        <P>九龍尖沙咀梳士巴利道18號 Victoria Dockside K11 MUSEA L4 樓層</P>
        <P>3703 4623</P>
    </div>
</div>

<div class="container" style="padding-top:20px">
    <div>
        <P style="color:#016790">FESTIVAL GRAND CINEMA (又一城)</P>
    </div>
    <div class="col-md-1">
        <P>地址:</P>
        <P>電話:</P>
    </div>
    <div class="col-md-11">
        <P>九龍九龍塘達之路80號又一城UG層</P>
        <P>2237 1992</P>
    </div>
</div>

<div class="container" style="padding-top:20px">
    <div>
        <P style="color:#016790">皇室戲院</P>
    </div>
    <div class="col-md-1">
        <P>地址:</P>
        <P>電話:</P>
    </div>
    <div class="col-md-11">
        <P>香港銅鑼灣告士打道311 號皇室堡4樓</P>
        <P>2129 0148</P>
    </div>
</div>

{% endblock %}