{% extends "index_base.html" %}

{% block content %}
<div class="container">
    <div class="row"》
        <h1>即將上映</h1>
         <h2>2021年5月</h2>
         <h1><font color="#005AB5">真人快打</font></h1>
        <a><img src="{{url_for('static',filename='img/V-11989.jpg')}}" class="img-responsive" width="120" height="50" style="border-style:solid;border-width:1px"></img></a>
    <br>
    <br>
    <br>
        <h1><font color="#005AB5">名偵探柯南 緋色的彈丸</font></font></h1>
<a><img src="{{url_for('static',filename='img/V-11991.jpg')}}" class="img-responsive" width="120" height="50" style="border-style:solid;border-width:1px"></img></a>
    <br>
    <br>
    <br>
        <h1><font color="#005AB5">殺神</font></h1>
<a><img src="{{url_for('static',filename='img/V-11852.jpg')}}" class="img-responsive" width="120" height="50" style="border-style:solid;border-width:1px"></img></a>
    </div>
</div>
{% endblock %}