{% extends "index_base.html" %}

{% block content %}
<div class="container">
    <div class="row">
        <h1>最新活動</h1>
        <h1>2021年3月份</h1>
        <a><img src="{{url_for('static',filename='img/event_407_5619.jpg')}}" class="img-responsive" width="320" height="200" style="border-style:solid;border-width:1px"></img></a>
        <h2><font color="#005AB5">2021/03/28</font></h2>
        <h2><font color="#005AB5">《不日成婚》優先場謝票@MCL 長沙灣戲院</font></h2>        
        <a><img src="{{url_for('static',filename='img/event_408_5628.jpg')}}" class="img-responsive" width="320" height="200" style="border-style:solid;border-width:1px"></img></a>
        <h2><font color="#005AB5">2021/03/27</font></h2>
        <h2><font color="#005AB5">《不日成婚》優先場謝票@K11 Art House</font></h2>          
        <a><img src="{{url_for('static',filename='img/event_405_5592.jpg')}}" class="img-responsive" width="320" height="200" style="border-style:solid;border-width:1px"></img></a>
        <h2><font color="#005AB5">2021/03/21</font></h2>
        <h2><font color="#005AB5">《不日成婚》優先場謝票@MCL 德福戲院</font></h2>         
        <a><img src="{{url_for('static',filename='img/event_406_5607.jpg')}}" class="img-responsive" width="320" height="200" style="border-style:solid;border-width:1px"></img></a>
        <h2><font color="#005AB5">2021/03/21</font></h2>
        <h2><font color="#005AB5">《不日成婚》優先場謝票@Festival Grand Cinema</font></h2>         
        <br>
        <br>
        <h1>2020年11月份</h1>
        <a><img src="{{url_for('static',filename='img/event_395_5487.jpeg')}}" class="img-responsive" width="320" height="200" style="border-style:solid;border-width:1px"></img></a>
        <h2><font color="#005AB5">2020/11/29</font></h2>
        <h2><font color="#005AB5">《一秒拳王》優先場@Festival Grand Cinema</font></h2>
        <a><img src="{{url_for('static',filename='img/event_396_5508.jpg')}}" class="img-responsive" width="320" height="200" style="border-style:solid;border-width:1px"></img></a>
        <h2><font color="#005AB5">2020/11/28</font></h2>
        <h2><font color="#005AB5">《一秒拳王》優先場@Movie Town</font></h2>
        <a><img src="{{url_for('static',filename='img/event_394_5439.jpg')}}" class="img-responsive" width="320" height="200" style="border-style:solid;border-width:1px"></img></a>
        <h2><font color="#005AB5">2020/11/24</font></h2>
        <h2><font color="#005AB5">《阿索的故事》首映禮@Festival Grand Cinema</font></h2>
        <br>
        <br>
        <h1>2020年10月份</h1>
        <a><img src="{{url_for('static',filename='img/event_388_5313.jpeg')}}" class="img-responsive" width="320" height="200" style="border-style:solid;border-width:1px"></img></a>
        <h2><font color="#005AB5">2020/10/18</font></h2>
        <h2><font color="#005AB5">《加油令和！！小露寶：中華料理鬥一番》小露寶見面會@MCL德福戲院</font></h2>
        <br>
        <br>
        <h1>2020年7月份</h1>
        <a><img src="{{url_for('static',filename='img/event_383_5232.jpg')}}" class="img-responsive" width="320" height="200" style="border-style:solid;border-width:1px"></img></a>
        <h2><font color="#005AB5">2020/07/05</font></h2>
        <h2><font color="#005AB5">《死因無可疑》謝票場@皇室戲院</font></h2>
        <br>
        <br>
        <h1>2020年6月份</h1>
        <a><img src="{{url_for('static',filename='img/event_381_5205.jpeg')}}" class="img-responsive" width="320" height="200" style="border-style:solid;border-width:1px"></img></a>
        <h2><font color="#005AB5">2020/06/28</font></h2>
        <h2><font color="#005AB5">《死因無可疑》謝票場@MCL長沙灣戲院</font></h2>
    </div>
</div>
{% endblock %}