{% extends "index_base.html" %}

{% block content %}
<div class="container">
    <h3><font color="#000087">常見問題</font></h3>
    <pre>
    1. 你們接受哪種形式付款？
        我們目前接受Mastercard(Tap & Go 除外), Visa, AE卡, PPS 網上繳費靈及八達通網上付款。
        
    2. 可否在網上購買小童／長者／學生戲票？
        我們接受網上購買小童／長者／學生戲票，但入場時持票人士須要出示有關証明文件。
        凡持學生戲票者入場時必須出示有效的香港全日制學生証(須附有相片、姓名及有效日期)。任何終身學員證、校友證、學生八達通等，均不會被視
        為有效之學生證明文件。
        
    3. 小童票及長者票的定義是什麼？
        由3歲至11歲或身高超過1米就界定為小童，所以需要購買小童票。長者票適用於60歲或以上長者，入場時必須出示有效之年齡證明文件。有效之
        年齡證明文件包括有效之香港身份證，長者卡、港澳居民來往內地通行證或護照。
        
    4. 我可否在網上購票時使用贈券或其他優惠 (如:MCL CLUB PLUS / MCL CLUB / CINEMA FANS會員優惠)？
        網上購票暫不接受任何贈券或優惠。 如想使用贈券或其他優惠請到MCL戲院售票處。
    
    5. 我需要用什麼瀏覽器才能成功訂票?
        配合新的信用卡安全標準，由2016年3月29日（星期二）上午10時起， 網上付款只會支援更安全的TLS 1.2協定，並不再支援TLS 1.0或TLS 1.1。
        所有不支援TLS 1.2協定的瀏覽器付款時將不能成功付款。
        
    6. 於網上購票，是否需要繳付手續費？
        由2017年10月26日起上映之電影場次，凡於網上、手機程式及電話購買任何戲票，手續費將調整至每張HK$10；任何情況下，手續費將不會退回。
        
    7. 使用信用卡付帳安全嗎？
        我們的網上售票服務使用 SSL 保安系統。SSL是互聯網上公認的現有最佳商業交易保安軟體。
        
    8. 我可以一次過購買不同影片的戲票嗎？
        不可以，在每一次交易中，您只可以購買相同場次的戲票。
        
    9. 我可以訂多少張戲票？
        一張訂單最多可買 10 張戲票，但是您可以分多張訂單購買。
        
    10. 是否於任何一間MCL戲院 、Festival Grand Cinema 、皇室戲院或STAR Cinema都可取票？
        你只能於你所選擇的任何一間MCL戲院 、Festival Grand Cinema 、皇室戲院或STAR Cinema票房領取戲票。
        
    11. 我的信用卡或PPS戶口何時會被扣款？
        當完成網上購票交易，您的信用卡或PPS戶口就會即時被扣款。我們是不會退款的。
        
    12. 如我在開始進行付款程序後，發現購買了錯的戲票，怎辦？
        按了[現在購買]後，你不能取消或轉換你所購買的戲票，所以你應該在按[現在購買]前查看清楚所有交易資料。
        
    13. 我已完成購票程序，但未有收到確認電郵/訂票號碼怎辦?
        你可於MCL CINEMA網頁的『查詢購票紀錄』版面，輸入付款資料查看交易是否成功。如有訂票號碼代表購票成功，可憑訂票號碼到觀賞電影的戲
        院售票處或憑購票之信用卡到自助售票機領取戲票或QR Code直接入場。
        
    14. 怎樣拿取我的戲票？
        當您完成購買後，您可以立刻在戲院拿取戲票。到戲院取票時，您需要攜帶訂票的信用卡，在戲院內的櫃位或網上售票亭取票。如沒有攜帶信用
        卡，閣下亦可憑「訂票號碼」於票房櫃位取票。如您使用PPS網上繳費靈或網上八達通，請列印購票後之「確認頁面」或記下「訂票號碼」，於票
        房櫃位提供「訂票號碼」領取戲票。
        
    15. 我需要攜帶我的信用卡才能取票嗎？
        是。到戲院取票時，您需要攜帶已用以購買戲票的信用卡。戲票可以在戲院內的櫃位或網上售票亭取得。如沒有攜帶信用卡，閣下亦可憑「訂票號
        碼」於票房櫃位取票。
        
    16. 影片如何分級？
        影視及娛樂事務管理處的電影檢查組，負責檢查影片，並根據以下級別評級影片：
                第I級影片-適合任何年齡人士觀看
                第IIA級影片-兒童不宜
                第IIB級影片-青少年及兒童不宜
                III級影片-只准18歲或以上人士觀看

        (請注意取票時可能需出示身份證明文件以作年齡證明。)
        
    17. 當掛起八號颱風訊號或以上或黑色暴雨警告訊號時，顧客可否退票?
        當發出八號(或以上)風球或黑色暴雨警告訊號時，MCL院線照常營業。若顧客未能前往戲院觀賞電影，可於戲票日期14天內憑戲票或訂票號碼親臨
        同一間MCL戲院換領戲票代用券。憑此券可到任何一間MCL戲院觀賞同一版本之電影，而代用券有效期為領取當日起計一個月。此安排不適用於公
        司包埸、團體購票或特備節目。所有已售出之門票恕不設退款。詳情可向戲院職員查詢。
        
    18. 有沒有退票服務？
        我們不設退票或退款服務。
        
    19. 所有戲票及小食的折扣後金額如何計算？
        所有戲票及小食的折扣後金額將以四捨五入計算。例如：折扣後的金額是HK$35.5，將被調高至HK$36。
        
    20. 如因戲院進行裝修或租約期滿，會籍及其優惠是否有效?
        如因戲院進行裝修或租約期滿，閣下仍可於其他戲院使用會員優惠。
        
    21. 如果我有其他疑問，可以找誰？
        如有其他疑問，請電郵至 contact_mcl@intercontinental.com.hk 或在辦工時間內致電到客戶服務熱線24188841。
        我們的辦工時間是星期一至五上午九時至下午六時
    </pre>
<div>

{% endblock %}