{% extends "index_base.html" %}

{% block content %}
<div class="container">
    <div>
        <h1 style="color:#016790">「個人資料收集」聲明</h1>
    </div>
</div>

<div class="container">
    <div>
        <h3><u>收集個人資料類別及目的</u></h3>
        <P>當你於MCL網上或手機程式購買戲票或其他付款服務時,
        本公司需要你提供你的個人資料,包括信用卡持有人的姓名,
        信用卡號碼及失效日期(若你選擇以信用卡處理付款), 
        你的名字及手機號碼(以便你選擇以PPS方式付款時收到我們向你送出訂購編碼), 
        以及你的電郵地址(若你選擇QR-code 電子購票服務) 。
        這些個人資料只會用於處理你的交易及查詢的要求，
        倘若我們未能取得註明「必須」的資料，我們將無法為你提供有關服務。
        </P>
    </div>
</div>

<div class="container">
    <div>
        <h3><u>披露個人資料</u></h3>
        <P>除非獲得你的同意，否則MCL不會向任何第三方出售、共用、
        轉移或披露你的個人資料以作直接促銷用途。
        </P>
    </div>
</div>

<div class="container">
    <div>
        <h3><u>查閱及改正個人資料</u></h3>
        <P>你有權查閱MCL是否持有你的任何個人資料，或要求更正任何關於你的錯誤資料。如有任何上述要求，
        可電郵至contact_mcl@intercontinental.com.hk聯絡客戶服務主任。
        </P>
    </div>
</div>

{% endblock %}