{% extends "index_base.html" %}

{% block content %}
<div class="container" >
    <div class="row" >
        <h1 style="color:#016790">私隱政策聲明</h1>
        <P>洲立影藝有限公司(「MCL」)每位人員均以保障個人私隱為己任。
        我們尊重及遵守個人資料私隱, 並且全力執行及遵守保障資料原則, 
        以及《個人資料(私隱)條例》的各項有關規定。
        我們向個別人士收集個人資料前會以適當的形式及方法向他們提供《收集個人資料聲明》
        （例如，收集個人資料的表格或網頁上提供聲明）。
        </P>
        <h4 style="padding-top:15px">實務聲明</h4>
        <h4 style="padding-top:15px">保存個人資料的主要目的</h4>
        <h4 style="padding-top:15px">保存下列紀錄內的個人資料的目的為:</h4>
        <p style="padding-top:15px"><b>會籍:</b>在辦理入會時，我們會要求你提供姓名，出生日期，電郵地址，聯絡電話或手機號碼及簽名作為處理您的交易及管理您的帳戶之用。</p>
        <p style="padding-top:15px">信用卡資料:當你於網上或手機程式購買戲票或其他付款服務時,
        本公司需要你提供你的個人資料,包括信用卡持有人的姓名,
        信用卡號碼及失效日期(若你選擇以信用卡處理付款), 
        你的名字及手機號碼(以便你選擇以PPS方式付款時收到我們向你送出訂購編碼), 
        以及你的電郵地址(若你選擇QR-code 電子購戲服務) 。
        這些個人資料只會用於處理你的交易及查詢的要求，
        倘若我們未能取得註明「必須」的資料，我們將無法為你提供有關服務。
        </p>
        <h4 style="padding-top:15px">瀏覽MCL網站時被收集的資料</h4>
        <p style="padding-top:15px">關於使用Cookies檔案:當你瀏覽本網站時,一些cookies檔案將會儲存於你電腦的硬碟內。
        當你按下自動更新的展示橫額時，這些 cookies檔案會讓你正確地轉接到相關的網頁。在此情況下，
        本網站不會收集或儲存任何關於你的個人資料。你可以選擇不接受 cookies檔案；但你若不接受的話，
        本網站展示橫額的轉接功能，可能無法運作。
        </p>
        <p style="padding-top:15px">到訪MCL網站的訪客統計數字: 當你瀏覽本網站時，我們會紀錄到訪的人次。網站伺服器亦會紀錄你的到訪資料，
        包括你的IP地址(及域名)、瀏覽器類別及設置、語言設定、地理位置、操作系統、之前瀏覽網站，以及瀏覽時間/期間及網頁(網站伺服器訪客紀錄)。
        </p>
        <p style="padding-top:15px">我們使用這些網站伺服器訪客紀錄作維持及改善網站運作，例如判斷最佳網站解像度，得知最多人瀏覽的網頁等。</p>
        <h4 style="padding-top:15px">連結到其他網站/媒體平台/應用程式</h4>
        <p style="padding-top:15px">MCL網站或手機應用程式會提供非本公司擁有或控制的其他網站/平台/應用程式的連結。當你進入這些網站/平台/應用程式和使用其提供的服務時，
        你的個人資料和/或數據可能會在這些網站/平台/應用程式中被收集。當你決定點擊允許進入另一個網站/平台/應用程式的任何廣告或超連結，
        你的私密保護個人資料可能會顯露在這些其他網站/平台/應用程式中。<br>
        當你通過線上社交網路工具帳戶（包括但不限於Google）登入或使用MCL網站或手機應用程式將被視為已同意本私隱政策，
        本公司可得到你提供予該等網路工具的個人資料，以便本公司和本公司授權人員為網站或手機應用程式使用者提供服務和營銷資料。<br>
        如你使用社交網路工具帳戶登入MCL網站或手機應用程式，本公司將收集你與該帳戶相關聯的電郵地址作為其獨有的識別號，
        並與你使用本公司提供的服務時本公司所收集的其他個人數據儲存在本公司的系統中。你被視為同意本公司及其授權人員根據上述規定而使用其個人資料。<br>
        本私隱政策只適用於MCL網站或手機應用程式。在此要提醒用戶，本私隱政策並不會對用戶顯露於其他網站/平台/應用程式的個人資料數據而提供保障。
        有見及此，本公司強烈建議用戶應參考該等網站/平台/應用程式的私隱政策。為免存疑，本公司不會就用戶使用該等其他網站/平台/應用程式承擔任何責任或義務。
        </p>
        <h4 style="padding-top:15px">保障措施</h4>
        <p style="padding-top:15px">MCL採取適當步驟以保障所持有的個人資料免受遺失、未經准許的查閱、使用、修改或披露。</p>
        <h4 style="padding-top:15px">網站保安</h4>
        <p style="padding-top:15px">MCL致力於確保我們網站上的交易和個人資料的安全，只限「有需要知道」的相關僱員查閱個人資料並妥善處理，
        以及避免個人資料在未經授權或意外的情況下被取用、刪除或作其他用途。
        </p>
        <p style="padding-top:15px">所有的交易數據被儲存在獨立並設有防火牆的電腦。未經授權，任何人均無法讀取數據。所有網站交易都通過安全接層聯繫（SSL）的機制保護。在SSL協議加密下，
        交易細節會直接傳送到相關銀行作審批結算。此外，購票交易在取票時更要透過刷卡進行安全檢查。
        </p>
        <h4 style="padding-top:15px">保留資料</h4>
        <p style="padding-top:15px">MCL維持及執行載有個人資料的紀錄的保留政策，以提供基本會籍及付費會籍的服務。你可隨時在網上更改個人資料及取消接受電子宣傳郵件。
        若你希望從本公司的電子資料庫刪除個人資料，可電郵至contact_mcl@intercontinental.com.hk通知洲立影藝有限公司客戶服務主任處理。
        </p>
        <h4 style="padding-top:15px">披露個人資料</h4>
        <p style="padding-top:15px">未經你的同意，我們不會向第三方披露你的個人資料作直接營銷或其他用途。</p>
        <h4 style="padding-top:15px">查閱及改正個人資料</h4>
        <p style="padding-top:15px">如要向MCL提出查閱資料要求，請將要求以電郵方式 (contact_mcl@intercontinental.com.hk)送交洲立影藝有限公司客戶服務主任。</p>
        <h4 style="padding-top:15px">查詢</h4>
        <p style="padding-top:15px">任何有關個人資料私隱政策及實務的查詢可透過電郵 (contact_mcl@intercontinental.com.hk)或於辦公時間(週一至週五, 公眾假期除外)
        致電24188841向客戶服務主任提出。
        </p>
    </div>
</div>
{% endblock %}