{% extends "index_base.html" %}

{% block content %}
<div class="container">
    <div class="row">
        <h1>推廣</h1>
        <h1><font color="#005AB5">MCL電影禮券</font></h1>
        <a href=https://www.mclcinema.com/PromotionDetail.aspx?ID=107&visLang=1 ><img src="{{url_for('static',filename='img/P-Ic1-107.jpg')}}" class="img-responsive" width="320" height="200" style="border-style:solid;border-width:1px"></href></img></a>
        <h3><font color="#005AB5">MCL電影禮券</font></h3>
        <br>
        <br>
        <br>
        <h1><font color="#005AB5">銀行優惠</font></h1>
        <a href=https://www.mclcinema.com/PromotionDetail.aspx?ID=86&visLang=1 ><img src="{{url_for('static',filename='img/P-Ic1-86.jpg')}}" class="img-responsive" width="320" height="200" style="border-style:solid;border-width:1px"></href></img></a>
        <h3><font color="#005AB5">東亞銀行信用卡全年優惠</font></h3>
        <a href=https://www.mclcinema.com/PromotionDetail.aspx?ID=233&visLang=1 ><img src="{{url_for('static',filename='img/P-Ic1-233.jpg')}}" class="img-responsive" width="320" height="200" style="border-style:solid;border-width:1px"></href></img></a>
        <h3><font color="#005AB5">恒生MPOWER卡優惠</font></h3>
        <br>
        <br>
        <br>
        <h1><font color="#005AB5">會員消息</font></h1>
        <a href=https://www.mclcinema.com/PromotionDetail.aspx?ID=314&visLang=1 ><img src="{{url_for('static',filename='img/P-Ic1-314.jpg')}}" class="img-responsive" width="320" height="200" style="border-style:solid;border-width:1px"></href></img></a>
        <h3><font color="#005AB5">MCL CLUB 條款及細則</font></h3>
       <br>
       <br>
       <br>
        <h1><font color="#005AB5">泊車優惠</font></h1>
        <a href=https://www.mclcinema.com/PromotionDetail.aspx?ID=88&visLang=1 ><img src="{{url_for('static',filename='img/P-Ic1-88.png')}}" class="img-responsive" width="320" height="200" style="border-style:solid;border-width:1px"></href></img></a>
        <h3><font color="#005AB5">又一城免費泊車優惠</font></h3>
        <a href=https://www.mclcinema.com/PromotionDetail.aspx?ID=42&visLang=1 ><img src="{{url_for('static',filename='img/P-Ic1-42.jpg')}}" class="img-responsive" width="320" height="200" style="border-style:solid;border-width:1px"></href></img></a>
        <h3><font color="#005AB5">康怡廣場免費泊車優惠</font></h3>
        <br>
        <br>
        <br>
        <h1><font color="#005AB5">戲院消息</font></h1>
        <a href=https://www.mclcinema.com/PromotionDetail.aspx?ID=317&visLang=1 ><img src="{{url_for('static',filename='img/P-Ic1-317.jpg')}}" class="img-responsive" width="320" height="200" style="border-style:solid;border-width:1px"></href></img></a>
        <h3><font color="#005AB5">K11 Art House x KiKi麵店 雙重禮遇</font></h3>
        <br>
        <br>
        <br>
        <h1><font color="#005AB5">票務消息</font></h1>
        <a href=https://www.mclcinema.com/PromotionDetail.aspx?ID=313&visLang=1><img src="{{url_for('static',filename='img/P-Ic1-313.jpg')}}" class="img-responsive" width="320" height="200" style="border-style:solid;border-width:1px"></href></img></a>
        <h3><font color="#005AB5">K11 Art House優惠限制</font></h3>
        <a href=https://www.mclcinema.com/PromotionDetail.aspx?ID=294&visLang=1 ><img src="{{url_for('static',filename='img/P-Ic1-294.jpg')}}" class="img-responsive" width="320" height="200" style="border-style:solid;border-width:1px"></href></img></a>
        <h3></h3><font color="#005AB5">MCL 數碼港戲院禮券及贈券使用守則</font></h3>
    </div>
</div>
{% endblock %}