{% extends "index_base.html" %}

{% block content %}
<div class="container">
    <h3><font color="#000087">使用條款</font></h3><br>
    在閣下使用洲立影藝有限公司的應用程式及網站（下稱本程式及網站）時已受本公司之使用條款、私隱政策聲明及「個人資料收集」聲明所約束。本程式及網站提供電影介紹、電影場次相關資訊、購票服務和會員服務。
    <br><br>
    <h4>購票服務</h4>
    目前，本程式及網站只接受以Mastercard(Tap & Go 除外)、 Visa信用卡、AE卡、PPS 網上繳費靈及八達通網上付款。 透過本程式及網站購票，每張票須繳付手續費， 此費用將不獲發還。本程式及網站不會為在網上出售的戲票退款或換票， 故懇請在購票前確定欲購戲票的電影片名，時間及地點。若閣下需要在戲院售票處或指定售票櫃檯收取戲票，將視乎電影之播放個別的安排地點而定。閣下請在售票櫃檯領取戲票，請出示購票時用作登記的信用卡。
我們接受網上購買小童／長者／學生戲票，但入場時持票人士須要出示有關証明文件。凡持學生戲票者入場時必須出示有效的香港全日制學生証(須附有相片、姓名及有效日期)。任何終身學員證、校友證、學生八達通等，均不會被視為有效之學生證明文件。3歲至11歲或身高超過1米就界定為小童，須購買小童戲票。長者票適用於60歲或以上長者，入場時必須出示有效之年齡證明文件。有效之年齡證明文件包括有效之香港身份證、長者卡、港澳居民來往內地通行證或護照。
    <br><br>
    <h4>會員服務</h4>
    本程式及網站提供會員服務，閣下可以選擇加入與否。若閣下加入成爲會員，即表示同意並接受會員計劃之所有優惠條款及細則。洲立影藝有限公司保留修改所有優惠條款及細則與暫停或終止所有會員專享禮遇（包括但不限於禮品、折扣及積分獎賞等）之權利，而毋須另行通知。當會員計劃之條款及細則之新版本生效後，舊有版本的詳情與條款及細則將被取代。
    <br><br>
    <h4>私隱政策聲明</h4>
    洲立影藝有限公司每位人員均以保障個人私隱為己任。我們尊重及遵守個人資料私隱, 並且全力執行及遵守保障資料原則, 以及《個人資料(私隱)條例》的各項有關規定。有關私隱政策聲明的其他詳情，請參閲 https://www.mclcinema.com/MCLPPS.aspx?visLang=1&desktop=t。
    <br><br>
    <h4>「個人資料收集」聲明</h4>
    當閣下於本程式及網站購買戲票或其他付款服務時,本公司需要您提供您的個人資料,包括信用卡持有人的姓名,信用卡號碼及失效日期(若你選擇以信用卡處理付款), 您的名字及手機號碼(以便您選擇以PPS方式付款時收到我們向您送出訂購編碼), 以及您的電郵地址(若您選擇QR-code 電子購票服務) 。這些個人資料只會用於處理您的交易及查詢的要求，倘若我們未能取得註明「必須」的資料，我們將無法為您提供有關服務。有關「個人資料收集」聲明的其他詳情，請參閲https://www.mclcinema.com/MCLPICS.aspx?visLang=1。
    <br><br>
    <h4>使用條款的修改</h4>
    本程式及網站保留隨時中斷服務或修改的權利﹐而毋須另行通知。本程式及網站會根據情況不時修改使用條款。使用條款一旦更改，本程式或/及網站將會提示修改的內容。如果閣下在使用條款修改以後希望繼續使用本程式及網站的服務，您必須同意已修改的使用條款。
    <br><br>
    <h4>免責聲明</h4>
    洲立影藝有限公司將竭力保持資料的更新及準確性，但對於該等資料包括網頁、相關圖片等在任何特定情況下使用時的準確性及恰當性，並沒有作出任何明示或隱含的陳述、申述、保證或擔保。洲立影藝有限公司完全信賴這些資料會有風險，使用者須獨自承擔後果。

<br><br><br>儘管我們致力保持本網站順利運作，但因任何技術性問題而令程式無法執行時，洲立影藝有限公司將不會承擔任何責任。

<br><br><br>當閣下使用本程式及網站時，即表示您已同意無條件接受本免責聲明的條款及任何變更。洲立影藝有限公司將會不時修改或修訂有關條款，而無須事先通知。

<br><br><br>如上述事項的中、英文版本有任何差異，一概以中文版為準。
<br>如就本使用條款有任何爭議，洲立影藝有限公司保留最終解釋及決定權。

<br><br><br>更新日期:2021年1月
    
</div>
{% endblock %}