{% extends "index_base.html" %}

{% block content %}
<div class="container">
    <div class="row">
       
        <h1><font color="#005AB5">STAND BY ME 多啦A夢 2</font></h1>
        <a><img src="{{url_for('static',filename='img/film_stand_by_me_doraemon_2.jpg')}}" class="img-responsive" width="120" height="50" style="border-style:solid;border-width:1px"></img></a>
        <h2><font color="#005AB5">簡介</font></h2>
        <p>香港最高日本電影票房作品《STAND BY ME 多啦A夢》續集，大雄和靜香將迎接人生新一頁，一個尋找希望和幸福的旅程！大雄無意中找到嫲嫲縫補的啤啤熊布公仔，令他懷念起她的溫柔和慈愛，便請求多啦A夢讓他坐「時光機」回到過去探望嫲嫲。豈料嫲嫲不但發現他是來自未來的大雄，更說希望可以看到孫媳婦的模樣。為了一遂嫲嫲心願，他們坐上「時光機」前往婚禮當天，卻發現未來的大雄竟然逃婚！過世嫲嫲的願望及靜香將來的幸福，全掌握在大雄手裡；他要怎樣才可替嫲嫲圓夢及找回屬於他與靜香的未來？</p>
        <p><font color="#005AB5"><h2>購票</h2></font></p>
        <br>
        <p><font color="#005AB5"><h4>K11 ART HOUSEBEA</h4></font></p>
        <button class="btn btn-warning" style="color:#ffffff">16:30PM</button>
        <button class="btn btn-warning" style="color:#ffffff">17:00PM</button>
        <p><font color="#005AB5"><h4>FESTIVAL SUITE</4></font></p>
        <button class="btn btn-warning" style="color:#ffffff">08:30AM</button>
        <button class="btn btn-warning" style="color:#ffffff">11:00AM</button>
        <button class="btn btn-warning" style="color:#ffffff">17:00PM</button>
        <button class="btn btn-warning" style="color:#ffffff">19:00PM</button>
        <p><font color="#005AB5"><h4>FESTIVAL <GRAND></GRAND></4></font></p>
        <button class="btn btn-warning" style="color:#ffffff">09:00AM</button>
        <button class="btn btn-warning" style="color:#ffffff">10:30AM</button>
        <button class="btn btn-warning" style="color:#ffffff">16:00PM</button>
        <button class="btn btn-warning" style="color:#ffffff">20:30PM</button>
        <br>
        <br>
        <br>
               <h1><font color="#005AB5">哥斯拉大戰金剛</font></h1>
        <a><img src="{{url_for('static',filename='img/film_godzilla_vs_kong.jpg')}}" class="img-responsive" width="120" height="50" style="border-style:solid;border-width:1px"></img></a>
        <h2><font color="#005AB5">簡介</font></h2>
        <p>華納兄弟影片及Legendary Pictures 天價呈獻、2021首部矚目荷里活年度巨片——《哥斯拉大戰金剛》(Godzilla vs. Kong)，壓軸香港主景鉅戰未公映先哄動，成為洶湧全城熱話，兩大傳奇神獸施展空前的渾身解數，誰會贏出這場生死決鬥？
連場激戰之外，還有動容情節。故事先從金剛說起，牠與守護者踏上尋找真正家園的驚險旅程，同行小孤女Jia，更能跟牠以特殊而強大的力量深深聯繫著。團隊意外地和哥斯拉狹路相逢，隨即引爆出腥風血雨的衝突，世界命脈隨時變天。鉅戰背後的無形力量，深藏於地心深處，謎團一觸即發！
《哥斯拉大戰金剛》由《雷神奇俠：諸神黃昏》Eric Pearson與《哥斯拉》、《金剛：骷髏島》Max Borenstein共同編劇，人氣賣座導演亞當雲格 (Adam Wingard) 掌舵。大熱美劇《小謊言》金球得主亞歷山大斯卡斯加德 (Alexander Skarsgård)、《怪奇物語》米莉芭比布朗 (Millie Bobby Brown) 和《銀魂》電影系列日本型男小栗旬 (Shun Oguri) 傾力演出。</p>
        <p><font color="#005AB5"><h2>購票</h2></font></p>
        <br>
        <p><font color="#005AB5"><h4>K11 ART HOUSEBEA</h4></font></p>
        <button class="btn btn-warning" style="color:#ffffff">10:00AM</button>
        <button class="btn btn-warning" style="color:#ffffff">16:30PM</button>
        <button class="btn btn-warning" style="color:#ffffff">17:30PM</button>
        <p><font color="#005AB5"><h4>FESTIVAL SUITE</4></font></p>
        <button class="btn btn-warning" style="color:#ffffff">08:45AM</button>
        <button class="btn btn-warning" style="color:#ffffff">07:00AM</button>
        <button class="btn btn-warning" style="color:#ffffff">20:00PM</button>
        <p><font color="#005AB5"><h4>FESTIVAL <GRAND></GRAND></4></font></p>
        <button class="btn btn-warning" style="color:#ffffff">10:00AM</button>
        <button class="btn btn-warning" style="color:#ffffff">10:50AM</button>
        <button class="btn btn-warning" style="color:#ffffff">13:35PM</button>
        <button class="btn btn-warning" style="color:#ffffff">14:30PM</button>
        <br>
        <br>
        <br>  
               <h1><font color="#005AB5">一秒拳王</font></h1>
        <a><img src="{{url_for('static',filename='img/V-11828.jpg')}}" class="img-responsive" width="120" height="50" style="border-style:solid;border-width:1px"></img></a>
        <h2><font color="#005AB5">簡介</font></h2>
        <p>本屆「香港亞洲電影節」閉幕電影秒速售罄一票難求，年度壓軸本地熱血力作《一秒拳王》，由《救殭清道夫》賣座班底炮製，原創故事更是源自導演趙善恆（ToNick主音恆仔）靈感。「我最喜愛的」周國賢奮身大蛻變，激戰《出貓特攻隊》泰國天菜男神查朗桑提納托古 (Chanon Santinatornkul)，拳拳到肉打到爆缸，林明禎、趙善恆、盧海鵬、袁富華、張建聲和天才童星熊倬樂攜手演出。

廢中周天仁（周國賢）終日在酒吧渾噩，兒子（熊倬樂）對他毫無寄望，為了躲避債主，天仁運用一秒預知超能力成功逃脫，意外被屢戰屢敗的拳擊教練阿信（趙善恆）發現，拉攏他合作挑戰秒殺拳王Joe（查朗桑提納托古），堂妹小瑤（林明禎）多番阻撓也無補於事。一秒雖然很短，卻能創出宇宙；從未認真看待自己的天仁，決定藉此難得機會，運用這個超能力，在擂台上尋回失落已久的人生初衷，為了自己，為了兒子，好好活一次！其實輸怎會一世，贏又真的只在一秒？

《一秒拳王》由mm2、羚邦控股有限公司、福斯傳媒有限公司聯合出品，也是環球影業 (香港) 首度誠意發行的本地電影。周國賢 x ToNick為了此片特意打造超強主題曲【時間的初衷】，同樣值得期待！</p>
        <p><font color="#005AB5"><h2>購票</h2></font></p>
        <br>
        <p><font color="#005AB5"><h4>K11 ART HOUSEBEA</h4></font></p>
        <button class="btn btn-warning" style="color:#ffffff">10:00AM</button>
        <button class="btn btn-warning" style="color:#ffffff">14:30PM</button>   
        <button class="btn btn-warning" style="color:#ffffff">16:30PM</button>
        <p><font color="#005AB5"><h4>FESTIVAL SUITE</4></font></p>
        <button class="btn btn-warning" style="color:#ffffff">07:00AM</button>
        <button class="btn btn-warning" style="color:#ffffff">08:45AM</button>
        <button class="btn btn-warning" style="color:#ffffff">20:00PM</button>
        <p><font color="#005AB5"><h4>FESTIVAL <GRAND></GRAND></4></font></p>
        <button class="btn btn-warning" style="color:#ffffff">10:00AM</button>
        <button class="btn btn-warning" style="color:#ffffff">10:50AM</button>
        <br>
        <br>
        <br>       
               <h1><font color="#005AB5">你好，李煥英</font></h1>
        <a><img src="{{url_for('static',filename='img/V-11960.png')}}" class="img-responsive" width="120" height="50" style="border-style:solid;border-width:1px"></img></a>
        <h2><font color="#005AB5">簡介</font></h2>
        <p>2001年的某一天，剛剛考上大學的賈曉玲（賈玲 飾）經歷了人生中的一次大起大落。一心想要成為母親驕傲的她卻因母親突遭嚴重意外，而悲痛萬分。在賈曉玲情緒崩潰的狀態下，竟意外的回到了1981年，並與年輕的母親李煥英（張小斐 飾）相遇，二人形影不離，宛如閨蜜。與此同時，也結識了一群天真善良的好朋友。曉玲以為來到了這片“廣闊天地”，她可以憑藉自己超前的思維，讓母親“大有作為”，但結果卻讓曉玲感到意外......</p>
        <p><font color="#005AB5"><h2>購票</h2></font></p>
        <br>
        <p><font color="#005AB5"><h4>K11 ART HOUSEBEA</h4></font></p>
        <button class="btn btn-warning" style="color:#ffffff">09:00AM</button>
        <button class="btn btn-warning" style="color:#ffffff">13:30PM</button>   
        <button class="btn btn-warning" style="color:#ffffff">17:30PM</button>
        <p><font color="#005AB5"><h4>FESTIVAL SUITE</4></font></p>
        <button class="btn btn-warning" style="color:#ffffff">08:30AM</button>
        <button class="btn btn-warning" style="color:#ffffff">11:40AM</button>
        <button class="btn btn-warning" style="color:#ffffff">15:00PM</button>
        <p><font color="#005AB5"><h4>FESTIVAL <GRAND></GRAND></4></font></p>
        <button class="btn btn-warning" style="color:#ffffff">10:00AM</button>
        <button class="btn btn-warning" style="color:#ffffff">10:50AM</button>
        <br>
        <br>
        <br>       
               <h1><font color="#005AB5">鬼滅之刃 劇場版 無限列車篇</font></h1>
         <a><img src="{{url_for('static',filename='img/V-11715.jpg')}}" class="img-responsive" width="120" height="50" style="border-style:solid;border-width:1px"></img></a>
        <h2><font color="#005AB5">簡介</font></h2>
        <p>承接第一季動畫，炭治郎等人完成「蝴蝶屋」的訓練，抵達下一個任務地點「無限列車」。據說在短時間之內，有四十人以上的乘客在列車上消失。

炭治郎帶著禰豆子與善逸、伊之助一行人，和鬼殺隊最強劍士「柱」其中一人，炎柱的煉獄杏壽郎會合，在開往暗黑的「無限列車」上，與潛伏在列車上的鬼正面對決！</p>
        <p><font color="#005AB5"><h2>購票</h2></font></p>
        <br>
        <p><font color="#005AB5"><h4>K11 ART HOUSEBEA</h4></font></p>
        <button class="btn btn-warning" style="color:#ffffff">09:00AM</button>
        <button class="btn btn-warning" style="color:#ffffff">13:30PM</button>   
        <button class="btn btn-warning" style="color:#ffffff">19:50PM</button>
        <p><font color="#005AB5"><h4>FESTIVAL SUITE</4></font></p>
        <button class="btn btn-warning" style="color:#ffffff">09:35AM</button>
        <button class="btn btn-warning" style="color:#ffffff">11:40AM</button>
        <button class="btn btn-warning" style="color:#ffffff">15:20PM</button>
        <p><font color="#005AB5"><h4>FESTIVAL <GRAND></GRAND></4></font></p>
        <button class="btn btn-warning" style="color:#ffffff">10:00AM</button>
        <button class="btn btn-warning" style="color:#ffffff">10:50AM</button>
        <button class="btn btn-warning" style="color:#ffffff">15:50PM</button>
        <button class="btn btn-warning" style="color:#ffffff">16:50PM</button>
    </div>
</div>

{% endblock %}